$p-font:normal 20px 'Lato', sans-serif;;
$background-main: #fffaf2;
$background-contenedor:#fffbe8;
$h1-font:normal 50px 'Montserrat', sans-serif;
$h2-font:normal 30px 'Alegreya Sans', sans-serif;
$accion-font:normal 'Bevan', cursive;
$background-link-hover:#01bcf2;
$color-link:#01bcf2;
$color-link2:#010b0e;
$color-p:#9da1a4;
$color-link-hover:#ffffea;
$background-form:#025066;