//*Nosotros*//
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedornosotros{
    background-color: $color-link2;
    .contenedornosotros__titulo{
        font: $h1-font;
    }
    .contenedornosotros__texto{
        white-space: pre;
        
        font: $p-font;
        color: $color-p;
    }
}